doctype html(lang='en')
head
    meta(charset='utf-8')
    |         
    title bakaa.me
    |         
    link(type='text/css', rel='stylesheet', href='style.css')
  |     
  body
    img.image(src='bakaame.png', height='150')
    |         
    br
    |         
    .pomf
      a(href='https://api.0wo.me/') API
      br
      |             
      a(href='https://git.0wo.me/') Git project hosting
      br
      |             
      a(href='https://discord.bakaa.me/') Discord Galge Dev ID
      br
      |             
      a(href='http://www.fansubs.me/hosting') Free Hosting
      br
      |             
      a(href='https://owo.moe') ShortUrl + Paste Service
      br
      // <a href="/containers">Free Linux containers</a><br>
      br
    |         
    br
    |         
    .pomf2
      strong Pomf clones/Pomf-likes:
      br
      |             
      a(href='https://fuwa.se/') fuwa.se
      br
      |             
      br
      |             
      strong Uguu clone:
      br
      |             
      a(href='https://u.fansubs.me/') u.fansubs.me
      |  (
      a(href='https://git.fuwafuwa.moe/fuwafuwa/uguu') source code
      | )
      br
      |             
      br
      |             NOTE: Uploads have been temporarily disabled.
      br
    |         
    br
    |         
    .pomf
      strong Friends:
      br
      |             
      a(href='http://adewakun.me/') adewakun.me
      br
      |             
      a(href='https://yuukithemes.com/') yuukithemes.com
      br
      |             
      a(href='http://k-dezign.net/') k-dezign.net
      br
    |         
    br
    |         
    .pomf2
      strong hidden service:
      br
      |             
      s
        | Downloads: 
        a(href='http://download.0wo.me/') download.0wo.me
      |  Temporary Disable...
      br
    |         
    br
    |         
    br
    |         
    br
    // We currently don't take donations.<br>
    a(href='/donations.html') Donate
    br
    |         
    br
    |         
    a(href='/privacy.html') Privacy/logging policy
    br
    |         
    br
    |         
    a(href='/transparency/') Transparency
    br
    |         
    br
    |         
    .feet
      | Contact: 
      a(href='mailto:iqbl@waifu.club') iqbl@waifu.club
      br
      |             Report abuse: 
      a(href='mailto:abuse@0wo.me') abuse@0wo.me
      br
      |             
      br
      |             
      br
      |             This page (including HTML, CSS, and logo) are licensed under the 
      a(href='http://creativecommons.org/publicdomain/zero/1.0/') CC0 license
      | . No rights reserved.
      br
